<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../../style.css">
  <title>Simple Memo</title>
</head>
<body>
  <header>
    <h1 class="app-title"><a href="/">Simple Memo</a></h1>
  </header>
  <div class="memo">
    <%= yield %>
  </div>
  <footer>
    <small>Copyright (c) kazumi</small>
  </footer>
</body>
</html>