<article>
  <h2><%= @title %></h2>
  <p>
    <% @content.split("\r\n").each do |line| %>
    <%= line %><br>
    <% end %>
  </p>
</article>
<div class="form-button">
  <button type="button" onclick="location.href='/memos/<%= params[:id] %>/edit'">Edit</button>
  <form action="/memos/<%= params[:id] %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
